<link rel="stylesheet" href="/css/employee.css">

<div class="employee-details">
    <% for(employee of userData){ %>
        <% if(employee.email !="admin.cc@gmail.com" ){ %>
            <div class="card">
                <h2>Name: <%= employee.name %>
                </h2>
                <p>Email: <%= employee.email %>
                </p>
                <div class="button-container">
                    <button onclick="openModal(this)" id="<%= employee.id %>" class="view-btn">View</button>
                    <button onclick="openModal(this)" id="<%= employee.id %>" class="update-btn">Update</button>
                    <a href="/employee/destroy/<%= employee.id %>"><button class="delete-btn">Delete</button></a>
                </div>
            </div>
            <% } %>
                <% } %>
</div>

<%- include("empDetails_Card") %>